{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- add stylesheets -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Quiz</title>
</head>

<body>
    <div class="grid-container">
        <div class="grid-container2">
            <div class="grid-header">
                <h1>Qualifier Questionnaire</h1>
            </div>


            <form method="POST">
                {% csrf_token %}
                <div class="questions">
                    {% for q in questions %}

                    <br>
                    <div>
                        {{q.text}}
                        <div class="tooltip"> <i class="fa fa-question-circle" style="font-size:26px"></i>
                            <span class="tooltiptext">Tip: {{q.tips}}</span>
                        </div>
                    </div>
                    <p>
                        <input type="radio" name="selection{{i.question_num}}" value="Yes" required>Yes</input>
                        <input type="radio" name="selection{{i.question_num}}" value="No">No</input>
                    </p>

                    {% endfor %}
                </div>
                <div class="grid-item1"><input type="submit" class="grid-item-button" value="Submit" id="submit" name="submit"></div>
            </form>


        </div>
    </div>

</body>

</html>
{% endblock %}