{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>

<body>
    <h1>Edit Profile</h1>
    <form method="POST" actions="">
        {% csrf_token %}
        {{form.username.label}}
        {{form.username}}
        <p>150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
        {{form.email.label}}
        {{form.email}}
        <p></p>
        <input type="submit" name="Register">
    </form>
</body>

{% endblock %}