<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'password_reset/style.css' %}">
    <title>Password_Reset</title>
</head>



<body>
    <div class="grid-container">
        <h1>Password Reset Complete</h1>
        <br>
        <p>Your password has been set. Log in to continue.</p>
        <br>
        <form method="POST" actions="">
            {% csrf_token %}
            <br>
            {{form}}
            <br>
            <br>
            <br>
            <br>
            
            <a href="/login">Log in</a>
        </form>
        
    <div>



