<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'password_reset/style.css' %}">
    <title>Password_Reset</title>
</head>

<body>



	<div class = "title">
	
		<h3>Enter new  password</h3>

		<p>Please enter and confirm your new password</p>

	</div>

	<form method="post">

	{% csrf_token %}

	<div class = "grid-container">

		<p> {{ form.new_passwrod1.error }}</p>
		<label for="id_new_password1" class="formlabel">New passwords: </label>
        <br>
        <p>{{ form.new_password1 }}</p>
        <br>
		<p> {{ form.new_passwrod2.error }}</p>
		<label for="id_new_password2" class="formlabel">Confirm password: </label>
        <br>
        <p>{{ form.new_password2 }}</p>
        <br>

		<input type="submit" value="Change my password" id = "button" name="button">
        <br>

	</div>
	<!-- <table class = "grid-container">
		<tr>
			<td>{{ form.new_password1.errors }}
				<label for="id_new_password1">New password:</label></td>
			<td>{{ form.new_password1 }}</td>
		</tr>
		<tr>
			<td>{{ form.new_password2.errors }}
				<label for="id_new_password2">Confirm password:</label></td>
			<td>{{ form.new_password2 }}</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Change my password" id = "button"/></td>
		</tr>
	</table> -->
	
	</form>

</body>

