<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'password_reset/style.css' %}">
    <title>Password_Reset</title>
</head>

<h3>Password Reset</h3>

<p>If your email address is registered to an account, an email has been sent with instructions to reset your password.
    If you did not receive the email, please wait up to 1 minute and check your spam folder.
</p>
