
.navigation {

    display:flex;

}
.menu1 {
    
    width: 1200px;
    height: 50px;
    
}

.menu2 {

    width: 250px;
    height: 50px;
}

.menu1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(68, 67, 67);
}

.menu1 ul li {

    float: left;
}

.menu1 ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.menu2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(68, 67, 67);
}

.menu2 ul li {

    float: right;
}

.menu2 ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.main_part {

    height: 100%; 
    margin: 0;
    padding: 0;
}

.main_part h1 {

    width: 100%;
}

.main_part h3 {
    width: 50%;
    border-style: dashed;
}

.itembox {
    display: flex;
    border-style: solid;

    border-left: none;
    border-right: none;

    margin-top: 3%;
    
}

.item {
    display: flex;
    width: 80%;
    list-style-type: none;
    
}

.item li{

    
    padding: .5em;
    width: 30%;
    font-size:larger;
}

.modify {

    list-style-type: none;
}

body {
    background:#424242;
    color:#ffffff;
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
}


#signin {
    font-size: 18px;
    margin: 20px 0px 30px 0px;
    justify-self: center;
}

.formlabel {
    font-size: 14px;
}

.formbox {
    height: 35px;
    width: 300px; 
    margin: 5px 0px 10px 0px;
    border: 0px;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 6px 8px 6px 8px;
}

#login {
    height: 50px;
    width: 300px;
    border: 0px;
    border-radius: 2px;
    color:#ffffff;
    background:#e64626;
}

#checklabel {
    font-size: 12px;  
    position: relative;
    top: -3px;
}

#checkbox {
    height: 16px;
    width: 16px;
    margin: 5px 0px 20px 0px;
}

/* #invalid { 
    display: grid;
    height: 35px;
    width: 300px; 
    margin: 5px 0px 10px 0px;
    border: 0px;
    border-radius: 2px;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    color:#ffffff;
    background-color: red;
} */

.invalids {
    color: red;
    font-size: 10px;
    max-width: 300px;
    margin: 0;
}

a {
    font-size: 12px;
    color:#ffffff;
    text-align: center;
    margin: 20px 0px 0px 0px;
}