<html>
    <h1>Participant Information Statement</h1>
    <br>
    <h3><big>Project Name: CP10 - Designing a web app for facilitating the submission of low risk ethics applications
    </big></h3>
    <br>
    <br>
    <body>
        <h3><big>What is the study about?</big></h3>
        <p1><big>You have been invited to take part in a research study that aims to fill a series of questions without guiding to complete the ethics form.
        </big></p1>
        <br>
        <br>
        <h3><big>The following are important for the validity of the study:</big></h3>
        <p1><big>You must be 18 years ir older to participate in this study.</big></p1>
        <br>
        <br>
        <p1><big>You must be fluent in English.</big></p1>
        <br>
        <br>
        <p1><big>Your interaction with the interface will be screen recorded.</big></p1>
        <br>
        <br>
        <h3><big>Who is carrying out the study?</big></h3>
        <p1><big>The study is directed by CHAI LAB at The University of Sydney. Other
            researchers who are collaborating in this study are Waheeb and Prof.Judy Kay 
            from School of Computer Science at the University of Sydney.
        </big></p1>



    </body>


</html>