<html>
    <h1>Participant Information Statement</h1>
    <style>
        .button {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        .button1 {background-color: #e64626;}
        
        </style>
        <br>
        <fieldset>
            <legend><strong><big> Project Name: Coversheet question Protocol Title</big></strong></legend>
        <br>
        <body>
            <h3><big>What is the study about?</big></h3>
            <br>
            <br>
            <h3><big>The following are important for the validity of the study:</big></h3>
            <br>
            <br>
            <h3><big>Who is carrying out the study?</big></h3>
            <br>
            <br>
            <h3><big>What does the study involve?</big></h3>
            <p1><big>If you are agree to take part in the study, you will be asked to do the following task:
            </big></p1>
            <br>
            <p3><big> &emsp;&emsp; 1. </big></p3>
            <br>
            <p3><big> &emsp;&emsp; 2. </big></h3>
            <br>
            <br>
            <br>
            <h3><big>Can I withdraw from the study?</big></h3>
            <br>
            <br>
            <h3><big>Will the study benefit me?</big></h3>
            <br>
            <br>
            <h3><big>How my data will be stored and my privacy preserved?</big></h3>
            <br>
            <br>
            <h3><big>Can I tell other people about the study?</big></h3>
            <br>
            <br>
            <h3><big>What if I require further information about the study or my involvement in it?</big></h3>
            <br>
            <br>
            <h3><big>What if I have any questions and concerns?</big></h3>
            <p1><big>If you experience any technical difficulties, please do not hesitate to contact Research Support 
                <br> 
                on Phone: +61 2 8627 8183 
                <br>
                or Email: research.support@sydney.edu.au.
            </big></p1>
            <br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;
            <!--<button type="button" class="button button1" onclick="alert('Jump to the PCF page!')">Consent Form</button>-->
            <!--<div class="links"><a href="{% url 'consentform' %}">ConsentForm</a></div> -->
            </fieldset>
            </body>
</html>