<html>
    <h1>Participant Information Statement</h1>
    <style>
        .button {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        .button1 {background-color: #e64626;}
        
        </style>
        <br>
        <fieldset>
            <legend><strong><big> Project Name: Coversheet question Protocol Title</big></strong></legend>
        <br>
        <body>
            <h3><big>What is the study about?</big></h3>
            <p1><big>Answers would be collected from Section E No.234 showing recording of audio, video, online surveys
                {% for answer in pis %}
                    {% if answer.question_num == 1001%}
                        <font>{{ answer.text }}</font>
                    {% endif %}
                {% endfor %}
            </big></p1>
            <br>
            <br>
            <h3><big>The following are important for the validity of the study:</big></h3>
            <p1><big>Answers would be collected from Section B No.13 (You must be 18 years ir older to participate in this study.)</big></p1>
            <br>
            <p1><big>Answers would be collected from Section D No.223 (You must be fluent in English.)</big></p1>
            <br>
            <p1><big>Answers would be collected Section D No.230 </big></p1>
            <br>
            <p1><big>Answers would be collected Section B No.29</big></p1>
            <br>
            <br>
            <h3><big>Who is carrying out the study?</big></h3>
            <p1><big>Answers would be collected Coversheet page Chief Investigator Details
            </big></p1>
            <br>
            <br>
            <h3><big>What does the study involve?</big></h3>
            <p1><big>If you are agree to take part in the study, you will be asked to do the following task:
            </big></p1>
            <br>
            <p3><big> &emsp;&emsp; 1. </big></p3>
            <br>
            <p3><big> &emsp;&emsp; 2. </big></h3>
            <br>
            <p1><big>The study will no more than two hours.</big></p1>
            <br>
            <br>
            <h3><big>Can I withdraw from the study?</big></h3>
            <p1><big> Answers would be collected Section D No.218 
                
            </big></p1>
            <br>
            <br>
            <h3><big>Will the study benefit me?</big></h3>
            <p1><big>Answers would be collected Section C No.209, No.211 Section D No.219 </big></p1>
            <br>
            <br>
            <h3><big>How my data will be stored and my privacy preserved?</big></h3>
            <p1><big>Section C No.213 
                Answers would be collected Section E No.234
                Answers would be collected Section E No.340
                Answers would be collected Section E No.353 !!!
                Answers would be collected Section E No.349 !!!
            </big></p1>
            <br>
            <br>
            <h3><big>Can I tell other people about the study?</big></h3>
            <p1><big>Please do not discuss the feedback information you receive
                with other potential participants because this would affect their results.
            </big></p1>
            <br>
            <br>
            <h3><big>What if I require further information about the study or my involvement in it?</big></h3>
            <p1><big>If your require further information on the application procedure, please consult our
                Human Ethics team at ro.humanethics@sydney.edu.au</big></p1>
            <br>
            <br>
            <h3><big>What if I have any questions and concerns?</big></h3>
            <p1><big>If you experience any technical difficulties, please do not hesitate to contact Research Support 
                <br> 
                on Phone: +61 2 8627 8183 
                <br>
                or Email: research.support@sydney.edu.au.
            </big></p1>
            <br>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;
            <button type="button" class="button button1" onclick="alert('Jump to the PCF page!')">Consent Form</button>
            <div class="links"><a href="{% url 'consentform' %}">ConsentForm</a></div> 
            </fieldset>
            </body>
</html>