* {
    font-family: sans-serif;
}

#navigation {
    background-color: #cd4c27;
    display:flex;

}

.menu {
    width: 100%;
    background-color: #cd4c27;
    margin-bottom: 4px;
    
}

    
.menu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 70%;
    padding-top: 15px;
    overflow: hidden;
    
}

.menu ul li {

    float: left;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 36;
  }

