body{

    background-color:#F4F4F4;
}


.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    ". Title Title ."
    "search . . new"
    "app_table app_table app_table app_table";
}

.item-1 {
    grid-area: Title;
    justify-self: center;
  }
.item-2 {
    grid-area: search;
    align-self: end;
  }
.item-3 {
    grid-area: new;
    justify-self: end;
  }
.item-4 {
    grid-area: app_table;
  }

#search{

  height: 20%;
}


.applicationlist{

    border-collapse: collapse;
    font-size: 20px;
    min-width: 100%;
    overflow: hidden;
}

thead{

    background-color: #3e3d3e;
    color: #ffffff;
    text-align: left;
}

.tbody{

    border-bottom: 1px solid #dddddd;
}




.start_new_app_button {

    color:#ffffff;
 
    background:#e64626;
 
    border: 0em;
 
    height: 2.5em;
 
    width: 11em;
 
 }
 .start_new_app_button:hover{

    background-color: rgb(210, 50, 18);
    cursor:pointer;
 }

 a:hover{

    background-color: rgb(210, 50, 18);
 }