.main_part {

    height: 100%; 
    margin: 0;
    padding: 0;
}

.main_part h1 {

    width: 100%;
}

.main_part h3 {
    width: 50%;
    border-style: dashed;
}

.itembox {
    display: flex;
    border-style: solid;

    border-left: none;
    border-right: none;

    margin-top: 3%;
    
}

.item {
    display: flex;
    width: 80%;
    list-style-type: none;
    
}

.item li{

    
    padding: .5em;
    width: 30%;
    font-size:larger;
}

.modify {

    list-style-type: none;
}