{% extends 'navbarcover.html' %}  <!-- Need to extend questionnaire navbar -->

{% block content %}

<h1>Create Participant Consent Form</h1>
<p>Please adapt and change the following template to suit your Project.</p>
<form action="" form method ="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <!--<textarea id="PIS" name="pis" rows="18" cols="150">{{ form.media }}{{ pis_rt }}</textarea>
    <input type="submit"  value="Save" class="button button1" name=save></input> 
    -->
    <input type="submit">
</form>

{% endblock %}
