{% extends 'navbarcover.html' %}  <!-- Need to extend questionnaire navbar -->

{% block content %}

<h1>Create Participant Information Statement</h1>
<p>Please change and adapt the questions in the following template to suit your project. <br>
Please provide answers to the following questions underneath each heading. </p>


<form action="" form method ="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <!--<textarea id="PIS" name="pis" rows="18" cols="150">{{ form.media }}{{ pis_rt }}</textarea>
    <input type="submit"  value="Save" class="button button1" name=save></input> 
    -->
    <input type="submit">
</form>
{% endblock %}