{% extends "base.html" %}


{% block others %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'managelist/style.css' %}">
 {% endblock %}


 {% block js %}
  <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
<script>

  $('document').ready(function(){

    $('#search').keyup(function(e){
      
      let value = $(this).val().toLowerCase();

      $(".tbody").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
      
     });
  });

</script>
 {% endblock %}



{% block content %}

    <h1> Manage Applications </h1>

      <div class = "search_application">
        <input type="text" id = "search" 
        name = "search_item" placeholder="Search..">
      </div>
      
      <div class = "start_quiz">

        <a href="#"><button type="button" class="btn btn-info">Start new application</button></a>

      </div>
  

        <table class = "applicationlist">
            <tr class = "thead">
              <th>Id</th>
              <th>Project Title</th>
              <th>date_created</th>
              <th>last_modified</th>
              <th>Supervisor</th>
              <th colspan="2">Operation</th>
            </tr>
            {% for item in applications %}

            <tr class = "tbody">
            {% if item.is_complete %}
            
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.date_created}}</td>
                <td>{{item.last_modified}}</td>
                <td>{{item.supervisor}}</td>
                <td><a href="#">Download</a></td>

            {% else %}
              <td>{{item.id}}</td>
              <td>{{item.title}}</td>
              <td>{{item.date_created}}</td>
              <td>{{item.last_modified}}</td>
              <td>{{item.supervisor}}</td>
              <td><a href="#">Edit</a></td>
              <td><a href = "{% url 'delete' item.id %}">Withdraw</a></td>
      
            </tr>

            {% endif %}
            {% endfor %}


          </table>
    

        

{% endblock %}