
{% extends "base.html" %}


{% block cssstyle %}
<link rel="stylesheet" type="text/css" href="{% static 'managelist/style.css' %}">
 {% endblock %}

{% block content %}

    <h1> Application </h1>


    <input type="text" placeholder="Search..">
    

        <table class = "applicationlist">
            <tr>
              <th>Project Title</th>
              <th>Date</th>
              <th>Status</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            {% for item in applications %}
            <tr>
                <td>{{item.project_title}}</td>
                <td>{{item.date}}</td>
                <td>{{item.status}}</td>
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </tr>
            {% endfor %}
          </table>
        

{% endblock %}
