<html>
    
    <h1>SECTION C</h1>
    <h3>The questions in Section C are designed to determine whether there are any conflicts of interests which may
        compromise the research process.
    </h3>
    <body>
        
        <br>
        <fieldset>
            <form action="/SectionC.html">
                <label for="conflictofinterest"> Are any "conflict of interest" issues likely to arise in relation to this research? </label>
                <br>
                <br>
                <select id ="conflictofinterest" name = "conflictofinterest">
                    <option value="Yes"> Yes </option>
                    <option value="No" selected> No </option>
                </select>
                <br>
                <br>
                <label for="affiliation">209 - Do the researchers have any affiliation with, or financial involvement in, any organisation or entity with
                    direct or indirect interests in the subject matter or materials of this research? (Note that such benefits must be
                    declared in the Participant Information Statement)
                    </label>
                <br>
                <br>
                <select id ="affiliation" name = "affiliation">
                    <option value="Yes"> Yes </option>
                    <option value="No" selected> No </option>
                </select>
                <br>
                <br>
                <label for="benefits">211 - Do the researchers expect to obtain any direct or indirect financial or other benefits from conducting this
                    research? (Note that such benefits must be declared in the Participant Information Statement)
                    </label>
                <br>
                <br>
                <select id ="benefits" name = "benefits">
                    <option value="Yes"> Yes </option>
                    <option value="No" selected> No </option>
                </select>
                <br>
                <br>
                <label for="conditions">213 - Have conditions already been imposed OR are likely to be imposed in the future, upon the use (e.g. 
                    publication), or ownership of the results (e.g. scientific presentations) or materials (e.g. audio-recordings), by
                    any party other than the listed researchers
                    </label>
                <br>
                <br>
                <select id ="conditions" name = "conditions">
                    <option value="Yes"> Yes </option>
                    <option value="No" selected> No </option>
                </select>
                <br>
                <br>
            
            </form>




        </fieldset>
    </body>
</html>