{% extends "base.html" %}


{% block others %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'managelist/style.css' %}">
{% endblock %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
<script src="{% static 'managelist/manage.js' %}"></script>
{% endblock %}



{% block content %}

<h1> Manage Applications </h1>

<div class="search_application">
    <input type="text" id="search" name="search_item" placeholder="Search..">
</div>

<table class="applicationlist" id="sort_application">
    <tr class="thead">
        <th>Id</th>
        <th onclick="sortTitle()">Project Title</th>
        <th>date_created</th>
        <th>last_modified</th>
        <th>Supervisor</th>
        <th>Status</th>
        <th colspan="2">Operation</th>
    </tr>
    {% for item in applications %}
    {% if item.status == 'COMPLETE' %}
    <tr class="tbody">

        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.date_created}}</td>
        <td>{{item.last_modified}}</td>
        <td>{{item.supervisor}}</td>
        <td>{{item.status}}</td>
        <td><a href="#">View</a></td>
        <td><a href="{% url 'approve' item_id=item.id %}">Approve</a></td>
        <td><a href="{% url 'disapprove' item_id=item.id %}">Disapprove</a></td>

    </tr>

    {% endif %}
    {% endfor %}


</table>




{% endblock %}