<html>
    <h1>Participant Consent Form</h1>
    <style>
        .button {
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        .button1 {background-color: #e64626;}
        
        </style>
        <br>
        <fieldset>
            <legend><strong><big> Project Name: Coversheet question Protocol Title</big></strong></legend>
        <br>
        <body>
            <p1><big>In giving my consent I acknowledge that:</big></h3>
            <br>
            <br>
            <p1><big>1. The procedures required for the project and the time involved have been explained to me, and any questions I have about the project have been answered to my satisfaction.</big></h3>
                <br>
                <br>
            <p1><big>2. I have read the Participant Information Statement and have been given the opportunity to discuss the information and my involvement in the project with the researcher/s.</big></p1>
            <br>
            <br>
            <p1><big>3. I understand that being in this study is completely voluntary - I am not under any obligation to consent.</big></h3>
                <br>
                <br>
            <p1><big>4. I understand that my involvement is strictly confidential. I understand that any research data gathered from the results of the study may be published however no information about me will be used in any way that is identifiable</big></p1>
            <br>
            <br>
            <p1><big>5. I understand that I can withdraw from the study at any time, without affecting my relationship with the researcher(s) or the University of Sydney now or in the future.</big></p1>
            <br>
            <br>
            <p1><big>6. I understand that I will be video and audio recorded as well as my screen interaction.</big></p1>
            <br>
            <br>
            <p1><big>7. I understand that this is the first time participating in this study.</big></p1>
            <br>
            <br>
            <p1><big>8. I agree that my rtecord of all clicks in my interaction on this interface will be shared on the Open Science Framework (OSF) platform so that other researchers can analyse them. This data will be de-identified so that it cannot be linked to me.</big></h3>
                <br>
                <br>
            <p1><big>9. I understand that my video and audio recordings will only be used for analysis and will not be released.</big></p1>
            <br>
            <br>
            </fieldset>
            </body>
</html>